
form {
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: aliceblue;
}
.code {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}